/* style.css */
@import url('https://fonts.google.com/specimen/Tilt+Warp?preview.size=18&classification=Display&vfonly=true&sort=popularity');
body {
  font-family:'tilt warp' ;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  text-align: center;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  box-sizing: border-box;
  text-align: center;
}

button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #2980b9;
}

a {
  text-decoration: none;
}

a button {
  background-color: #2ecc71;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

a button:hover {
  background-color: #27ae60;
}
